<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SignIn</title>
</head>

<body>
	<div class="authen-layout row g-3">
		<div class="row">
			<div class=" col-xs-12 col-md-6">
				<img src="../../assets/vnpt.png" width="100%">
			</div>
			<div class=" col-xs-12 col-md-6">
				<h3>Sign In</h3>
				<div class="input-group mb-3">
					<input [(ngModel)]="user.email" type="text" class="form-control" placeholder="Email">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="input-group mb-3">
					<input [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password">
				</div>
				<div class="pb-3 pt-3">
					<button type="button" class="btn btn-warning" (click)="signIn()">Sign In</button>
				</div>
				<div class="d-flex flex-column justify-content-between">
					<div>
						<a href="https://google.com">
							Forgot password
						</a>
					</div>
					<div>
						<a href="https://google.com">
							Sign Up
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>

</html>